// CtaBlock.vue styles
.cta-block {
  max-width: 80vw;
  margin: 4em auto;

  a {
    width: auto;
    height: 70px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  p {
    font-family: FONTSPRINGDEMO-RecoletaMedium;
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    padding: 0 20px;

    p {
      font-size: 24px;
    }
  }
}
